.Step4
	width 740px
	margin 0 auto
	@media screen and (max-width: 771px)
		width 300px 
	form
		margin-bottom 60px 
	legend
		legend-positioning()
		margin-left 215px 
		@media screen and (max-width: 771px)
			margin-left 0px 		
	.animals
		border-radius()
		display inline-block 
		width 150px
		height 150px 
		margin 16px
		background-repeat no-repeat
		background-size cover
		cursor pointer
		@media screen and (max-width: 771px)
			margin 0px
	p
		display none
		margin-left 16px  
		color #ff0000
		@media screen and (max-width: 771px)
			margin-left 0px
			margin-top  20px   

#cat1
	background-image url(images/cat1.jpg) 
	background-position 45% 0% 
#cat2
	background-image url(images/cat2.jpg) 
	background-position 30% 0% 
#cat3
	background-image url(images/cat3.jpg)
	background-position 70% 0%  
#dog4
	background-image url(images/dog4.jpg) 
	background-size 210% 
	background-position 58% 0% 