.Step1
	width 300px
	margin 0 auto 
	legend
		legend-positioning()
	input
		box-shadow()
		border-radius()
		width 90%  
		border none 
		padding 15px
		outline none
		&[type="email"]
			margin-bottom 150px 
			margin-top 16px 
	form
		position relative
	.er
		display none
		width 400px 
		position absolute
		color #ff0000
		@media screen and (max-width: 1079px)
			width 300px
	.nameErrors		
		top 75px
		right -420px
		@media screen and (max-width: 1079px)
			top 200px
			right 0px
	.mailErrors
		top 140px
		right -420px
		@media screen and (max-width: 1079px)
			top 230px
			right 0px
