.NumNavigation
	margin 0px auto
	margin-top 120px 
	width 300px
	@media screen and (max-width: 1242px)
		margin-top 80px 		 
	input
		reset-default-input-styles()
		box-shadow()
		border-radius()
		color unactive
		width 40px
		height 40px  
		margin-left 10px 
		cursor pointer
		outline none
	:first-child
		margin-left 0px 